
<div class="row">
  <div class="col">

    <div class="card" style="width: 18rem;">
      <img src="../../assets/Selenium.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Selenium</h5>
          <ul class="card-text">
            <li><b>Latest Version [stable]:</b> 4.3.0</li>
            <li><b>Vender :</b> </li>
            <li><b>License Type :</b> Open source</li>
            <li><b>Automation Support :</b>UI</li>
            <li><b>Langulage Support :</b>Java, Python, C#, Ruby, JavaScript</li>
            <li><b>Recording Support :</b>Only Selenium IDE</li>
            </ul>
        <a href="#" class="btn btn-primary">Know more</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/UFTOne.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">UFT One</h5>
        <ul class="card-text">
          <li><b>Latest Version [stable]:</b> 2021 R1</li>
          <li><b>Vender :</b>HP MIcro focus</li>
          <li><b>License Type :</b>Commercial</li>
          <li><b>Automation Support :</b>UI</li>
          <li><b>Langulage Support :</b>VB Script</li>
          <li><b>Recording Support :</b>Yes</li>
          </ul>
        <a href="#" class="btn btn-primary">Know more</a>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/Protractor.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Protractor</h5>
        <ul class="card-text">
          <li><b>Latest Version [stable]:</b>7.0.0</li>
          <li><b>Vender :</b> </li>
          <li><b>License Type :</b>Open source</li>
          <li><b>Automation Support :</b>UI</li>
          <li><b>Langulage Support :</b>JavaScript</li>
          <li><b>Recording Support :</b>No</li>
          </ul>
        <a href="#" class="btn btn-primary">Know more</a>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/Tosca.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">TOSCA</h5>
        <ul class="card-text">
          <li><b>Latest Version [stable]:</b>14.2</li>
          <li><b>Vender :</b>Tricentis</li>
          <li><b>License Type :</b>Commercial</li>
          <li><b>Automation Support :</b>UI</li>
          <li><b>Langulage Support :</b></li>
          <li><b>Recording Support :</b>Yes</li>
          </ul>
        <a href="#" class="btn btn-primary">Know more</a>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/soapUI.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SOAP UI</h5>
        <ul class="card-text">
          <li><b>Latest Version [stable]:</b>5.7.0</li>
          <li><b>Vender :</b> </li>
          <li><b>License Type :</b> Open source</li>
          <li><b>Automation Support :</b>API</li>
          <li><b>Langulage Support :</b>Groovy or Javascript</li>
          <li><b>Recording Support :</b>No</li>
          </ul>
        <a href="#" class="btn btn-primary">Know more</a>
      </div>
    </div>

  </div>

</div>

<br>

<div class="row">
  <div class="col">

    <div class="card" style="width: 18rem;">
      <img src="../../assets/cypress.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cypress</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Know more</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/postman.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Postman</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Know more</a>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/loadrunner.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">HP Loadrunner</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Know more</a>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/Tosca.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">TOSCA</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Know more</a>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="../../assets/Tosca.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">SOAP UI</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Know more</a>
      </div>
    </div>

  </div>

</div>

