<div class="list-group pmd-list pmd-card-list">
  <a class="list-group-item list-group-item-action list-group-item-info" href="javascript:void(0);">JDK Installation</a>
  <a class="list-group-item list-group-item-action list-group-item-info" href="javascript:void(0);">Node Installation</a>
  <a class="list-group-item list-group-item-action list-group-item-info" href="javascript:void(0);">Maven Installation</a>
  <a class="list-group-item list-group-item-action list-group-item-info" href="javascript:void(0);">Eclipse Installation</a>
</div>
